@import "https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css";

body {
  font-family: sans-serif;
}

.flex-caption {
  width: 96%;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
}
li.css a {
  border-radius: 0;
}
.slides li h1 {
  margin: 0;
  padding: 0;
}
